<div id="formulaire">

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.name, "Nom de la propriété", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.name) }}

            <div class="col-sm-4">
                {# Génération de l'input. #}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {# Idem pour un autre champ. #}
        <div id="us_catalogbundle_property_propertyValues" class="form-group">
            {% if form.propertyValues is defined and form.propertyValues is not null %}
                {{ form_label(form.propertyValues, 'Valeurs par défaut') }}
                {% for propertyValue in form.propertyValues %}
                    <div class="propertyValue">
                        <p>{{ form_label(propertyValue.content, "Valeur : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}</p>
                        <div>{{ form_errors(propertyValue.content) }}</div>
                        <div class="col-sm-8">
                            <p>{{ form_widget(propertyValue.content) }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div>
            <a href="#" id="addValue">Ajouter une valeur</a>
        </div>

        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
