{% extends "::manage.html.twig" %}

{% block title %}Propriétés - {% endblock %}

{% block body %}
  <section class="container">
    <div class="col-xs-12 navbar navbar-default">
      <span class="glyphicon glyphicon-plus"></span><a href="{{ path('add_property') }}">Ajouter une propriété</a>
    </div>
    <div class="row">
      {% if properties is not null %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom de la propriété</th>
              <th>Actions</th>
            <tr>
          </thead>
          <tbody>
          {% for property in properties %}
            <tr>
              <td>{{ property.name }}</td>
              <td class="btn-group">
                <a href="{{ path('view_property', {'id': property.id}) }}" class="btn btn-default" ><span class="glyphicon glyphicon-eye-open"></span></a>
                <a href="{{ path('edit_property', {'id': property.id}) }}" class="btn btn-default" ><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="{{ path('delete_property', {'id': property.id}) }}" class="btn btn-default" ><span class="glyphicon glyphicon-remove"></span></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>Aucun produit dans votre catalogue</p>
      {% endif %}
    </div>
  </section>
{% endblock %}
