{% extends "::base.html.twig" %}


{% block body %}



<section id="wrapper" class="container">
<h1 class="titreRouge">Le Salon Univers Styl</h1>
<h2 class="soustitreGris">Notre concept est basé sur notre professionnalisme</h2>
<div class="row">
  <div class="col-sm-2 col-sm-offset-3 col-xs-12">
  <img alt="Image ciseaux de coiffeur" src="{{ asset('images/pico-1.jpg') }}"/>
  <h3>30 ans</h3>au service du cheveu</div>
  <div class="col-sm-2 col-xs-12">
  <img alt="Image validé" src="{{ asset('images/pico-2.jpg') }}"/>
  <h3>Choix & qualité</h3>de nos produits</div>
  <div class="col-sm-2 col-xs-12">
  <img alt="Image poignée de main" src="{{ asset('images/pico-3.jpg') }}"/>
  <h3>Confiance</h3>entre notre</br>équipe et <strong>vous</strong></div>
</div>
<p>C’est pourquoi nous mettons tout en oeuvre pour que vous passiez</br>
un <strong>agréable moment</strong> lors de votre venue au salon de coiffure <strong>Univers Styl</strong>.
</p>
</section>
<section class="blocGris">
<div class="container">
  <div class="row">
  <div class="col-sm-5 col-sm-offset-1 col-xs-12">
  <p>
  L’espace spacieux et harmonieux dégage un sentiment de plénitude,
  de relaxation, libre de vos mouvements, dans l’attente d’une prise en
  charge globale pour le soin de votre chevelure et de votre bien-être.</br></br>
  Chaque personne étant unique, nous personnalisons nos conseils,
  vous proposons des solutions les mieux adaptées à votre
  personnalité, mais aussi vous faire découvrir de nouvelles
  tendances, en matière de coupe, de couleurs...
  </p>
  </div>
  <div class="col-sm-5 col-xs-12">
  <img alt="Image du salon de coiffure Univers Styl" src="{{ asset('images/img-salon.jpg') }}"/>
  </div>
  </div>
</div>
</section>

<section class="blocBeige">
<div class="container">
  <div class="row">
  <div class="col-sm-5 col-sm-offset-1 col-xs-12">
  <img alt="Image du salon de coiffure Univers Styl" src="{{ asset('images/img-salon.jpg') }}"/>
  </div>
  <div class="col-sm-5 col-xs-12">
  <p>
  Nous vous invitons à découvrir nos services, notre savoir faire.
  Prenez également le temps de lire nos articles. Nous communiquons
  sur notre actualité, vous donnons des informations, conseils.
  Si vous le souhaitez, il est possible de laisser des commentaires
  sur notre Livre d’Or.</br></br>
  Que votre visite soit agréable,</br></br>
  Amicalement, Thérèse et son équipe
  </p>
  </div>
  </div>
</div>
</section>



{% endblock %}
