{% extends "::manage.html.twig" %}

{% block title %}{% if news is not null %}{{ news.title }} - {% endif %}{% endblock %}

{% block body %}
<section class="container">
  {% if news is not null %}
    <h1>{{ news.title }}</h1>
    <div class="row">
      <img src="{{ (asset(news.image.webPath)) | imagine_filter('productCatalogFilter') }}" alt="{{ news.image.alt }}" />
    </div>
    <div class="row">
      <p>Description : {{ news.description }}</p>
    </div>
    <div class="row">
      <p>Contenu : {{ news.content }}</p>
    </div>
    </div>
  {% endif %}
</section>
{% endblock %}
